.comment_div {
    /* background-color: #f2f2f2; */
    margin: 20px 0 20px 0;
}

.comment_cnt {
    padding : 10px;
}

.paging{
    display: flex;
    justify-content: center;   /* 가로 중앙 */
    align-items: center;       /* 세로 중앙 */
    gap: 1px;                  /* 버튼 간격 */
    margin: 20px 0;            /* 위아래 여백 */
}