body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Noto Sans KR', 'NanumSquare', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
}

a {
    color: #333333;
    text-decoration: none;
}

p {
    margin: 0;
    line-height: 1.5;
}

button {
    cursor: pointer;
}

button:disabled {
    background-color: #929292;
}

input {
    margin:0;
    padding: 0;
}

input:focus {
    outline: none;
}

.content_box {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
    /* background-color: #ffffff; */
    box-sizing: border-box;
}

.container{
    margin : 0 auto;
    padding: 0;
    width: 1280px;
    padding-top: 80px;
    padding-bottom: 20px;
    min-height: 500px;
    box-sizing: border-box;
}

@keyframes increse_opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.increaseOpacity {
    animation-name: increse_opacity;
    animation-duration: 0.3s;
}

.required::before {
    position: absolute;
    top: 5;
    left: -20px;
    content: "*";
    color: red;
}

.whiteBtn {
  margin: 0 4px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.whiteBtn:hover {
  background-color: #f0f0f0;
  color: black;
}

.blackBtn {
    border: 1px solid #000;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.blackBtn:hover {
  background-color: #f0f0f0;
  color: black;
}

.blackLink {
    border: 1px solid #000;
    background-color: black;
    color: white;
    padding: 3px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* 링크 밑줄 제거 */
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    transition: all 0.3s ease;
}

.blackLink:hover {
  background-color: #f0f0f0;
  color: black;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.menu_nm {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}

.ql-editor img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}