body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-family: 'Noto Sans KR', 'NanumSquare', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
}

a {
    color: #333333;
    text-decoration: none;
}

p {
    margin: 0;
    line-height: 1.5;
}

button {
    cursor: pointer;
}

button:disabled {
    background-color: #929292;
}

input {
    margin:0;
    padding: 0;
}

input:focus {
    outline: none;
}

.content_box {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
    /* background-color: #ffffff; */
    box-sizing: border-box;
}

.container{
    margin : 0 auto;
    padding: 0;
    width: 1280px;
    padding-top: 80px;
    padding-bottom: 20px;
    min-height: 500px;
    box-sizing: border-box;
}

@keyframes increse_opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.increaseOpacity {
    animation-name: increse_opacity;
    animation-duration: 0.3s;
}

.required::before {
    position: absolute;
    top: 5;
    left: -20px;
    content: "*";
    color: red;
}