.Home {
    min-height: 500px;
    /* background-color: #f3f3f3; */
}

.menu_nm {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.list_div {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.listHeader {
    border-bottom: 1px black solid;
    padding: 10px;
    display: flex;
    background-color: black;
    color:white;
    border-radius: 10px 10px 0 0 ;
}

.list {
    position: relative;
    overflow: hidden;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 10px;
    cursor: pointer;
    display: flex;
    background: radial-gradient(circle at center, #dfdfdf 0%, transparent 90%);
    /* background-position: center; */
    background-size: 0%;
    background-repeat: no-repeat;
}

.list:hover {
    background-size: 150%;
    background-color: #dfdfdf;
    transition: background 2s ease-out;
}

/* .list div{
    display: inline; */
    /* border:1px black solid;
} */

.listItem1 {
    flex: 1;
}
.listItem2 {
    flex: 2;
}
.listItem3 {
    flex: 10;
}
.listItem4 {
    flex: 1;
    text-align: center;
}
.listItem5 {
    flex: 1;
    text-align: center;
}

.searchBar {
  display: flex;
  gap: 10px;
  margin: 20px 0 20px 0 ;
  justify-content: center;
}

.searchBox {
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

.cate_div{
  display: flex;
  flex : 1;
  gap: 10px;
}

.sort_div{
  display: flex;
  flex : 1;
  gap: 10px;
  justify-content: right;
}

.searchSelect,
.searchInput,
.searchButton {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchButton {
    border: 1px solid #000;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.searchButton:hover {
  background-color: #f0f0f0;
  color: black;
}

.searchInput {
  width: 250px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pageBtn {
  margin: 0 4px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.pageBtn:hover {
  background-color: #f0f0f0;
  color: black;
}

.activePage {
  font-weight: bold;
  background-color: #000;
  color: white;
  border: 1px solid #000;
}